@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>
        DogGo App - Created for C# / ASP.NET Course through Nashville Software School
    </h3>
    <p>Ember Parr | December 2020</p>
    <p>Contact: <a href="https://emberparr.com">Portfolio</a> <a href="linkedin.com/in/emberparr">LinkedIn</a> </p>
</div>
